.secondCP{
    background: linear-gradient(to right,#313132, #161618);
    display: grid;
    grid-template-columns: 50% auto;
}

.secondCP > img#myPic{
    max-width: 65%;
    height: auto;
    margin: auto;
}

.secondCP > .textBox{
    margin: auto;
    text-align:left;
    padding-right: 100px;
}

.secondCP > .textBox > h2{
    font-size: 64px;
    color: #7895AA;
    padding-bottom: 60px;
}

.secondCP > .textBox > p{
    font-size: 36px;
    color: white;
}